@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif+JP:wght@200&display=swap');

/* logo and menu */
#logo {
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
    float: left;
    padding-top: 10px;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 60px;
}

#header-block {
    height: 150px;
    width: 100%;
    background-color: white;
}

#menu {
    font-size: 80%;
    float: right;
    padding-top: 35px;
    width: 30%;

}

#menu a {
    text-decoration: none;
    color: black;
    font-family: 'DM Serif Display', serif;
}

#menu a:hover {
    color: rgba(64,64,64, 1);
    text-decoration: underline;
}

/* main-image */
/* main image was stretched, used https://stackoverflow.com/questions/11757537/css-image-size-how-to-fill-but-not-stretch */

#main-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;

}

/* about */

#about-background {
    background-color: rgba(31, 31, 31, 0.9);
    height: 600px;
    width: 100%;
}

#about-image {
    width: 45%;
    height: 500px;
    object-fit: cover;
    float: left;
    margin: 50px 10px 50px 50px;
}

#about {
    color: rgba(247,191,190,0.9);
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
    letter-spacing: 2px;
}

#about-text {
    font-family: 'Noto Serif JP', serif;
    color: white;
    font-size: 100%;
    text-align: center;
    display: inline-block;
    width: 35%;
    margin: 5%;
}

/* our studio */

#studio-background {
    background-color: rgba(247,191,190,0.9);
    height: 600px;
    width: 100%;
}
#studio-image {
   /* background-image: url(../images/the-studio.jpg);*/
    width: 45%;
    height: 500px;
    object-fit: cover;
    float: right;
    margin: 50px 30px 50px 10px;
}

#studio {
    color: rgba(31, 31, 31, 0.9);
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
    letter-spacing: 2px;
    padding-top:40px;
    text-align: center;
    margin: 0%;
}

#studio-background p {
    font-family: 'Noto Serif JP', serif;
    font-size: 100%;
    color: rgba(31, 31, 31, 0.9);
    text-align: center;
    width: 35%;
    margin: 40px;
    padding-left: 40px;
}

#studio-background li {
    font-family: 'Noto Serif JP', serif;
    font-size: 90%;
    color: rgba(31, 31, 31, 0.9);
    text-align: center;
    width: 35%;
    margin: 5px;
    padding-left: 40px;
}

/* used footer html and css code from Love Running project*/

#footer-icons li, a {
    color: rgba(64,64,64, 1);
    font-size: 100%;
    display: inline;
    padding-left: 8%;
}

#footer-icons a:hover {
    color: rgba(247,191,190,0.9);
    text-decoration: underline;
}


/* Gallery page */
/* used tutorial and copied code for gallery grid, https://www.youtube.com/watch?v=rnhoY5Cdmy0 */

#gallery-image-container {

    height: 150px;
    width: 100%;
}

.image-grid {
    margin: 0;
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols)), 1fr;
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* used tutorial from here https://www.youtube.com/watch?v=n6sv__UBwIA */

#contact-wrapper {
    background: url(../images/woman_pink_sand.jpg) no-repeat;
    background-size: cover;
}

#contact-form {
    font-family: 'DM Serif Display', serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vr;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 100px;
}

#contact-form input {
    color: white;
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid #404040;
    background: transparent;
}

button {
    width: 350px;
    height: 40px;
    font-size: 15px;
    background-color: rgba(247,191,190,0.9);
    color: black;
    font-family: 'DM Serif Display', serif;
    border: none;
    margin-top: 20px;
    margin-bottom: 150px;

}

button a:hover {
    background-color: white;
}

form h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 150%;
    margin-bottom: 30px; 
}

/* Media query anything under 1024px */
/* used media query assistance from here https://www.solodev.com/blog/web-design/media-queries-and-mobile-css-best-practices.stml# */
/* break point from here https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/d48e6af85eb84191bebd57ece8b6fb73/*/
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }

    #menu {
        clear: both;
        float: left;
        line-height: 10px;
    }
    #about-image {
        margin: 30px 5px 30px 30px;
    }
    #about-text {
        width: 40%;
        font-size: 90%;
    }
    #studio-image {
        margin: 30px 30px 5px 30px;
    }
    #studio-background p {
        width: 40%;
        font-size: 90%;
    }
}

@media screen and (max-width: 750px) {
#logo {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 170%;

}
    #menu {
        clear: both;
        float: left;
    }
    #about {
        font-size: 150%;
        text-align: center;
        margin-top: 1em;
    }
    #about-text {
        margin: 0 0 0 10px;
        text-align: center;
    }
    #studio {
        font-size: 150%;
        text-align: center;
    }
    #studio-background p {
        margin: 0 0 0 0;
        text-align: center;
        font-size: 90%;
    }
    #studio-background li {
        font-size: 90%;
        margin: 0 0 0 0;
        padding-left: 0;
    }
    #footer {
        font-size: 90%;
    }
    
}

@media screen and (max-width: 800px){
    #contact-form {
        margin-top: 250px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 550px) {

    #studio {
        font-size: 140%;
        text-align: center;
        padding-left: 10px;
    }
    #studio-background p {
        margin: 20px 0 0 0;
        text-align: center;
        font-size: 80%;
    }
    #studio-background li {
        font-size: 70%;
        margin: 0 0 0 0;
        padding-left: 0;
    }
    #footer {
        font-size: 50%;
        display: block;
        margin: 0 0 0 0;
        
    }

}

@media screen and (max-width: 420px){
    #contact-form {
        margin-top: 150px;
        margin-bottom: 50px;
        
    }
    #contact-form input {
        width: 150px;
        height: 20px;
    }
    
    button {
        width: 150px;
        height: 40px;
    }

    #footer {
        margin-bottom: 50px;
        margin-top: 0px;

    }

}