@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif+JP:wght@200&display=swap');

/* logo and menu */
#logo {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 280%;
    float: left;
    padding-top: 10px;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 50px;
}

#menu {
    font-size: 100%;
    float: right;
    padding-top: 35px;

}

#menu a {
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-family: 'DM Serif Display', serif;
}

#menu a:hover {
    color: rgba(64,64,64, 1);
    text-decoration: underline;
}

/* main-image */

#main-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/black-stones-pink-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* about */

#about-background {
    background-color: rgba(31, 31, 31, 0.9);
    height: 600px;
    width: 100%;
}

#about-image {
    background-image: url(../images/woman-meditating.jpg);
    width: 45%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
    margin: 50px 10px 50px 50px;
}

#about {
    color: rgba(247,191,190,0.9);
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
    letter-spacing: 2px;
    padding-top: 20px;
}

#about-text{
    font-family: 'Noto Serif JP', serif;
    color: white;
    text-align: center;
    display: inline-block;
    width: 40%;
    margin: 5%
}

/* our studio */

#studio-background {
    background-color: rgba(247,191,190,0.9);
    height: 600px;
    width: 100%;
}
#studio-image{
    background-image: url(../images/the-studio.jpg);
    width: 45%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: right;
    margin: 50px 50px 50px 10px;
}

#studio {
    color: rgba(31, 31, 31, 0.9);
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
    letter-spacing: 2px;
    padding-top: 20px;
    text-align: center;
}

#studio p {
    font-family: 'Noto Serif JP', serif;
    color: rgba(31, 31, 31, 0.9);
    float:left;
    width: 40%;
    margin: 5%;
    text-align: center;
}
